@{
    ViewBag.Title = "Home Page";
}
<div>
    <ul>
        <p><a class="btn btn-default" href="https://localhost:44399/WebForm1.aspx">WebForm1 &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44399/Influx/">ChamaInflux &raquo;</a></p>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</div>